header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #eebfef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    margin: 0 0 20px;
    padding: 0;
    border: 0;
}


#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    height: 50px;
}

nav {
    text-align: right;
    margin-right: 5%;
    margin-left: 0;
    width: 20%;


}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 20px;
  list-style: none; 
}



header a{
    color: #9a3cad;
    font-family: 'Sans';
    text-decoration: none;
    font-size: 1.2em;
    
}

header a:hover {
    color: #520c7d;
    cursor: pointer;
}

#home {

    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 5%;
    margin-right: 0;
    height: 100%;
}

.title {
    width: 100%;
    text-align: center;
    display: block; 
    font-family: sans-serif;
    
}

h1{
    color: #832c9d;

}

button{
    background-color: #ecbced;
    border-radius: 30px;
    padding: 13px 20px;
    font-size: 0.7em;
    color: #410054;
    border: 1px solid #410054;
}

button:hover{
    background-color: #fed9ff;
}
h2{
    margin-top: 30px;
    color: #ab40cb;
}

#file {
    margin-top: 40px;
    color: #ab40cb;
    font-size: 1.2em;
}
h3{
    color: #803ea8;
}

.center-text{
    font-size: 1.3em;
    color: #410054;
    text-align: center;
    margin: 0 350px 10px;

}

.question{
    font-size: 1.3em;
    color: #410054;
    margin: 0 22% 10px;


}

body{
    background-color: #fff7ff;
}

html, body,main {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;         
    flex-direction: column;  
}

.pic {
    height: 320px;

    display: block;    
    margin: 0 auto ;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;         
    gap: 40px;               
}

.member {
    text-align: center;      
    width: 400px;            
}

footer {
    padding: 20px 0;
    background-color:#f8e2f5;
    color: #9a3cad;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 0;
}

footer p {
    margin: 0;

}
main.flex-grow {
    flex: 1; 
}

.list {
    list-style: none;      
    padding: 0;           
    margin: 0 auto 5px;        
    text-align: center;    
    font-size: 1.1em;
    color: #410054;
    text-decoration: none;
}

.level {
    width: 200px;
    text-align: center;
    font-size: 1.1em;
}
.age{
    width: 250px;
}

.age li {
    list-style: none;
    color: #410054;
}
.winners{
    font-size: 1.1em;
    color: #410054;
}


.scoreboard-container {
    max-width: 720px;
    margin: auto;
    padding: 20px;
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.scoreboard-table th {
    text-align: left;
    padding: 14px;
    font-size: 1rem;
    background: #ff64b8; 
    color: white;
}

.scoreboard-table td {
    padding: 14px;
    font-size: 0.95rem;
    border-bottom: 1px solid #eee;
}

.scoreboard-table tr:nth-child(even) {
    background: #fafafa;
}

.scoreboard-table tr:hover {
    background: #ffe3f3;
}

.loading {
    text-align: center;
    color: #777;
    font-size: 1.1rem;
    margin-top: 30px;
}

.scoreboard-table tr:first-child td {
    font-weight: 800;
}

.user-tag {
    padding: 6px 10px;
    border-radius: 8px;
    background: #eee;
    font-weight: bold;
}
