<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://yt3.googleusercontent.com/ytc/AIdro_mgnodbikJ-Ti1M2Eo9eR5HSjh69ZrKFbUMpactPIe1Xg=s900-c-k-c0x00ffffff-no-rj">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Girls In Code SEA</title>
    </head>
    <body>
        <header>
            
            <a id="home" href = "{{url_for('home')}}">Home</a>
            <a href = "{{url_for('home')}}"><img id="logo" alt="Girls in Code SEA Logo" src ="{{ url_for('static', filename = 'gic_logo.png')}}"></a>
            <nav>
                <ul>
                    <li><a href = "{{ url_for('competitions') }}">Competitions</a></li>
                    <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
                    <li><a href = "{{ url_for('signIn') }}">Sign In</a></li>
                </ul>
            </nav>
        </header>
        <h1 class = "title" >2025 March</h1>
        <section >
          <ul class="list">
            <li><a  target ="_blank" href="https://www.canva.com/design/DAGhZA1UBzY/aAgXm2eO1vbrJXe_q4rzzw/edit?utm_content=DAGhZA1UBzY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Opening Ceremony Slides</a></li>
            <li><a  target ="_blank" href="https://docs.google.com/presentation/d/1D2YKcg1qfcixon--i-RFhuWBrsZfVMWpHGIWO0OGcgM/edit?usp=sharing">Awards Ceremony Slides</a></li>
          </ul>
        </section>
        <section>
          <h2 class="title">Winners</h2>
          <div class="row">
            
            <div class= "age">
              <h3 class="title">Primary:</h3>
              <ul class="winners">
                <li>🥇Trần Bảo Lam</li>
                <li>🥈Ngyuễn Hoàng Kim</li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Juniors:</h3>
              <ul  class="winners">
                <li>🥇Clareko Tanupabrungsun</li>
                <li>🥉Chloe (Yuxin) Zheng</li>
                <li>🥈Yingci</li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Seniors:</h3>
              <ul  class="winners">
                <li>🥇Swetha Jayaprasad Rao</li>
                <li>🥈Balqis Batrisyia</li>
                <li>🥉Ridhima Garodia</li>
              </ul>
            </div>
          </div>
          <br>
          <h2 class="title">Question Makers</h2>
          <ul class="list">
            <li>Zahra Adam</li>
            <li>Emily Xu</li>
            <li>Natalie Wong</li>
            <li>Kayson Lau</li>
            <li>Yu Shen Tan</li>
            <li>Rain Cheng</li>
            <li>Enze Zhou</li>
          </ul>
        </section>
        <br>
        <h2 class="title">Questions</h2>
        <section class ="row">
          
          <div class="level">
            <h3>Beginner</h3>
            <ul class ="list">
              {% for q in beginner %}
                <li><a href="{{ url_for('question', question_id=q.id) }}">{{q. title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="level">
            <h3>Intermediate</h3>
            <p><a href="{{url_for('q1')}}">Question 1</a></p>
          </div>
          <div class="level">
            <h3>Advanced</h3>
            <p><a href="{{url_for('q1')}}">Question 1</a></p>
          </div>
        </section>
        {% include 'includes/footer.html' %}

    </body>
</html>