<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://yt3.googleusercontent.com/ytc/AIdro_mgnodbikJ-Ti1M2Eo9eR5HSjh69ZrKFbUMpactPIe1Xg=s900-c-k-c0x00ffffff-no-rj">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Girls In Code SEA</title>
    </head>
    <body>
        <header>
            <a id="home" href="{{ url_for('home') }}">Home</a>
        
            <a href="{{ url_for('home') }}">
                <img id="logo" alt="Girls in Code SEA Logo" src="{{ url_for('static', filename='gic_logo.png') }}">
            </a>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('competitions') }}">Competitions</a></li>
                    <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
        
                    {% if session.get("user_name") %}
                        <li class="user-tag">👤 {{ session["user_name"] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>     
        <h1 class = "title" >2025 November</h1>
        <section >
          <ul class="list">
            <li><a  target ="_blank" href="https://www.canva.com/design/DAG5geGPMdM/qrdJRg2qvS9V3u6gLfwAVw/edit?utm_content=DAG5geGPMdM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Slides</a></li>
            <li><a  target ="_blank" href="https://drive.google.com/file/d/1tdHyqWyWvIr87oqLqZU1A3aQx3lpMVW9/view?usp=sharing">Question Booklet</a></li>
          </ul>
        </section>
        <section>
          <h2 class="title">Winners</h2>
          <div class="row">
            
            <div class= "age">
              <h3 class="title">Junior</h3>
              <ul class="winners">
                <li>🥇Tania Chopra</li>
                <li>🥈Nicholas Wong & Gia Pardal (tie)</li>
                <li>🥉Yingci Liu</li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Senior:</h3>
              <ul  class="winners">
                <li>🥇Bhavika Khanna</li>
                <li>🥈Aadya Seth</li>
                <li>🥉Ridhima Garodia</li>
              </ul>
            </div>
            <div class= "age">
              <h3 class="title">Team:</h3>
              <ul  class="winners">
                <li>🥇Knockout - Yashvia Jain, Melissa Dyer</li>
                <li>🥈Iris - Mehr Rehmat Hora, Pekhna Hora, Paavani Kapur</li>
                <li>🥉Giraffes - Junyi Chai, Ryan Au, Kyle Park </li>
              </ul>
            </div>
          </div>
          <br>
          <h2 class="title">Question Makers</h2>
          <ul class="list">
            <li>Ananya Prasad</li>
            <li>Harleen Sachdev</li>
            <li>Gio Hwang</li>
            <li>Emily Xu</li>
            <li>Camelia Chew</li>
            <li>Josh Yeo</li>
            <li>Doyun Kim</li>
            <li>Natalie Wong</li>
          </ul>
        </section>
        <br>
        <h2 class="title">Questions</h2>
        <section class ="row">
          
          <div class="level">
            <h3>Beginner</h3>
            <ul class ="list">
              {% for q in beginner %}
                <li><a href="{{ url_for('question', question_id=q.id) }}">{{q.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="level">
            <h3>Intermediate</h3>
            <ul class ="list">
              {% for q in intermediate %}
                <li><a href="{{ url_for('question', question_id=q.id) }}">{{q.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="level">
            <h3>Advanced</h3>
            <ul class ="list">
              {% for q in advanced %}
                <li><a href="{{ url_for('question', question_id=q.id) }}">{{q.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </section>
        {% include 'includes/footer.html' %}

    </body>
</html>