<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://yt3.googleusercontent.com/ytc/AIdro_mgnodbikJ-Ti1M2Eo9eR5HSjh69ZrKFbUMpactPIe1Xg=s900-c-k-c0x00ffffff-no-rj">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Girls In Code SEA</title>
    </head>
    <body>
        <header>
            <a id="home" href="{{ url_for('home') }}">Home</a>
        
            <a href="{{ url_for('home') }}">
                <img id="logo" alt="Girls in Code SEA Logo" src="{{ url_for('static', filename='gic_logo.png') }}">
            </a>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('competitions') }}">Competitions</a></li>
                    <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
        
                    {% if session.get("user_name") %}
                        <li class="user-tag">👤 {{ session["user_name"] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signIn') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>     
        <main class="flex-grow">
            <h1 class = "title" >{{question.year}} {{question.level}}: {{question.title}}</h1>
            <br>
            <p class="question">{{question.prompt}}</p><br>
            <p class="question"><strong>Sample Input:</strong><br>{{question.sample_input}}</p>
            <p class="question"><strong>Sample Output:</strong><br>{{question.sample_output}}</p><br>
            <p class="question"><strong>Your Input:</strong><br>{{question.your_input}}</p>
            <br>
            <br>
            <br>
            <section class="center-text">
                <form method="POST" enctype="multipart/form-data">
                    <strong id="file">Source File:  </strong>
                    <input type="file" name="code_file" accept=".py" required>
                    <button type="submit">Submit</button>
                </form>
            </section>
            <section class="center-text">
                {% if result %}
                    <p>{{result}}</p> 
                    <p><strong>Your output is: </strong>{{output}}</p> 
                    <p><strong>The correct output is: </strong>{{answer}}</p>
                    <br>
                    <p>We are testing our AI detector and your result is: {{classification}}</p>
                {% endif %}
            </section>
            
        </main>
        {% include 'includes/footer.html' %}
    </body>
</html>