<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
        <meta charset = "utf-8">
        <link  rel="icon" href="https://yt3.googleusercontent.com/ytc/AIdro_mgnodbikJ-Ti1M2Eo9eR5HSjh69ZrKFbUMpactPIe1Xg=s900-c-k-c0x00ffffff-no-rj">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Girls In Code SEA</title>
    </head>
    <body>
        <header>
            
            <a id="home" href = "{{url_for('home')}}">Home</a>
            <a href = "{{url_for('home')}}"><img id="logo" alt="Girls in Code SEA Logo" src ="{{ url_for('static', filename = 'gic_logo.png')}}"></a>
            <nav>
                <ul>
                    <li><a href = "{{ url_for('competitions') }}">Competitions</a></li>
                    <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
                    <li><a href = "{{ url_for('signIn') }}">Sign In</a></li>
                </ul>
            </nav>
        </header>
        <div id="g_id_onload"
            data-client_id="464154670514-ecpl0f28n37pvenh49t412jtlpfg46fh.apps.googleusercontent.com"
            data-callback="handleCredentialResponse">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large">
        </div>

        <div id="user-info"></div>

        <script>
            function handleCredentialResponse(response) {
            const payload = JSON.parse(atob(response.credential.split('.')[1]));
            console.log("ID Token:", token);
            console.log("User Info:", payload);
            document.getElementById("user-info").innerText = `Hello, ${payload.name}`;
            }
        </script>
    
    </body>
</html>